html {
  background-color: antiquewhite;
}

body {
font-family: arial, sans-serif;
}

h1 {
  font-size: 38px
}

h2 {
  font-size: 38px
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: armenian;
}

header > img {
  width: 100px;
}

ul > li > a {
  color: inherit;
  text-decoration: none;
}

.user_review {
  font-style: oblique;
  font-family: fantasy;
}